@font-face {
    font-family: Arsenal;
    src: url('fonts/Arsenal-Regular.otf');
}


body, html {
	margin: 0;
	padding: 0;
	font-family: "Arsenal", "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif!important;
	background-color: white;
/*
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(nebo.jpg) repeat 0 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(nebo.jpg) repeat 0 0;
	background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(nebo.jpg) repeat 0 0;
	background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(nebo.jpg) repeat 0 0;
	background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(nebo.jpg) repeat 0 0;
	background-position: -130px -700px;*/
}


.container {
	width: 100%;
	height: 100%;
	position: absolute;
}

.lang {
    float: right;
}

.number {
    float: left;
}


.cite {
	text-align: right;
	top: 38.195302843%;
	position: relative;
	font-size: 41.2237330037px;
	padding: 25px;
}

footer {
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 0;
	padding-bottom: 30px;
}

.author {
	padding-top: 12.5px;
	font-size: 35px!important;
}

.top {
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	vertical-align: middle;
}

b {
	cursor: pointer;
	font-size: 1.2em;
}


iframe {
	width: 10px;
	height: 10px;
}

#id-root {
	position: absolute;
}

.fb_reset {
	position: absolute;
}

.lang {
    padding-right: 10px;
}


@media screen and (max-width: 700px){

    body, html {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif!important;
	background-color: white;
}

    .top {
        display: none!important;
    }

    button {
    	position: relative;
        margin: 0 auto;
        width: 50%;
        height: 40px;
    }
    .cite {
        font-size: 25px!important;
        top: 0%!important;
        }

    .author {
        font-size: 22px!important;

    }

    footer {
        padding: 0;
    }

    .container {
    	position: static;
    }

    .cite {
    	position: static;
    }

    .backwards {

    }
}



